<p class="card" style="text-align: left; font-size: 15px; margin-top: 1.5em;">
  This project has recently (April 2020) started getting a lot more requests. Please use it to try out the app, but if you are using it regularly, please remix the app and set it up with a Google Cloud account you own. Unfortunately if the app gets more than 1000 requests to Google Cloud a month I have to pay for it. If you need help with this reach out to me on <a href="https://twitter.com/patrickweave_r">twitter</a>!
</p>

<p class="card" id="explanation">
This is a <a href="https://en.wikipedia.org/wiki/Rube_Goldberg_machine">Rube Goldberg Machine</a> of the <a href="https://cloud.google.com/vision/">Google Cloud Vision API</a> and the <a href="https://beta.developer.spotify.com/documentation/web-api/">Spotify API</a>. After logging into Spotify, upload an image. The image will be sent to the Google Vision API, which will guess what it is. The app will then search Spotify using Google's guess, and give you the first result to play.
</p>
