<br>

<p class="card" id="explanation">
This is a <a href="https://en.wikipedia.org/wiki/Rube_Goldberg_machine">Rube Goldberg Machine</a> of the <a href="https://cloud.google.com/vision/">Google Cloud Vision API</a> and the <a href="https://beta.developer.spotify.com/documentation/web-api/">Spotify API</a>. After logging into Spotify, upload an image. The image will be sent to the Google Vision API, which will guess what it is. The app will then search Spotify using Google's guess, and give you the first result to play.
</p>