PORT=3000

# This should match the root url of where the project is hosted
# You will also need to add this value + "/auth_callback" to your
# Spotify app. i
PROJECT_URL="http://localhost:3000"


# You will need to create a Google Cloud Platform account, generate an API key. The Google Vision API needs to be enabled for this API key.
GCP_API_KEY=

# You will need to create a Spotify App at https://developer.spotify.com/, they will give you the id and secret to put here.
# In the spotify app you will need to add the 'Redirect URIs', for running locally with the PROJECT_URL set below, that would be: 'http://localhost:3000/auth-callback'. For the version no Glitch it is: https://record-player.glitch.me/auth-callback. You can add more than one.
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# This is just a unique string and can be anything. It is used as part of the login handshake with Spotify.
SPOTIFY_STATE_STRING=

# I have analytics on the project, but you don't need to add anything here, it will fail silently.
ANALYTICS_URL=