{{> explanation}}

<div class="card" id="spotify-login-button">
  <a id="spotify-auth-button" href={{authUrl}}>Log In to Spotify</a>
</div>
<br>
<video id="demo-video" class="card" controls playsinline muted
    src="https://cdn.glitch.com/94c70e5c-2d94-482a-9cff-7c0913fe4eb5%2Fdemo.mp4?1525221924510"
    poster="https://cdn.glitch.com/94c70e5c-2d94-482a-9cff-7c0913fe4eb5%2Fdemo-poster.png?1525222944242"
    >

Sorry, your browser doesn't support embedded videos, 
but don't worry, you can <a href="https://archive.org/details/BigBuckBunny_124">download it</a> 
and watch it with your favorite video player!

</video>