<h2>
   Take a picture of a record cover
</h2>
<form id="cover-form" action="/player" method="post" enctype="multipart/form-data">
  <label>Record Cover Photo:</label>
  <input type="file" name="file" id="album-cover-image" onchange="submitCoverForm()">
</form>

<div id="spinner">
  <img id="spotify-logo" class="logo" src="https://cdn.glitch.com/94c70e5c-2d94-482a-9cff-7c0913fe4eb5%2Fspotify.png?1525038908160">
  <img id="google-cloud-logo" class="logo" src="https://cdn.glitch.com/94c70e5c-2d94-482a-9cff-7c0913fe4eb5%2Fgoogle-cloud.png?1525038908787">
</div>

  

