<h2>
   Take a picture of a record cover
</h2>
<form id="cover-form" action="/player" method="post" enctype="multipart/form-data">
  <label>Record Cover Photo:</label>
  <input type="file" name="file">
  <button type="submit" value="submit">
    Upload
  </button>
</form>
  

