
<form class="box" id="cover-form" action="/player" method="post" enctype="multipart/form-data">
  <h2>
     Take a picture of a record cover
  </h2>
  <div class="box__input">
    <input class="box__file" type="file" name="file" id="album-cover-image" onchange="submitCoverFormOnChange()"/>
    <label id="camera-label" for="album-cover-image">
      <img id="camera-image" src="/images/camera.png">
      <span id="camera-label-text">
        <strong>Click to select or take a picture</strong><span class="box__dragndrop"> or drag one here</span>.
      </span>
    </label>
    <button class="box__button" type="submit">Upload</button>
  </div>
  <div class="box__uploading">Uploading&hellip;</div>
  <div class="box__success">Done!</div>
  <div class="box__error">Error! <span></span>.</div>
</form>

{{> explanation}}

<div id="spinner">
  <img id="spotify-logo" class="logo" src="/images/spotify.png">
  <img id="google-cloud-logo" class="logo" src="/images/google-cloud.png">
</div>

  

