<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Record Player</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/94c70e5c-2d94-482a-9cff-7c0913fe4eb5%2Fradio_1f4fb.png?1524440335079" type="image/x-icon">
  </head>
  <body>
    <div class="card" id="site-title">
      <h1>
        <a href="/">📻 Record Player 📻</a>
      </h1>
    </div>
    
    {{{body}}}
    
    {{#unless loggedOut}}
      <br>
      <div class="card">
        <a href="/logout">Logout of Spotify</a>
      </div>
    {{/unless}}
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="script.js"></script> 
  </body>
</html>