<div class="card" id="gv-card">
  <p>
    <strong> Google Vision thought:</strong> "{{googleVisionGuess}}"
  </p>
</div>

<div id="spotify-embed">
  {{{embed}}}
</div>

<div class="card" id="info-card">
  <a href="/">That's not it, let's try again!</a>
</div>


{{> explanation}}
