* {
  box-sizing: border-box;
}

body {
  font-size: 125%;
  line-height: 125%;
  font-family: sans-serif;
}

button, input, label {
  font-size: 100%;
  line-height: 100%;
  display: block;
  margin: 1.5em 0;
}

#spotify-auth-button {
  background-color: #1db954;
  color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 7px;
}

#spinner {
  position: absolute;
  top: 3em;
  width: 80%;
  padding: 20px;
  margin: 0 10%;
  background-color: #EEE;
  border: 2px solid green;
}
